<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon
          [name]="isFavorite ? 'heart' : 'heart-outline'"
          [color]="isFavorite ? 'danger' : ''">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!isLoading && pokemon; else loading">
    <div class="ion-padding ion-text-center">
      <ion-img
        [src]="pokemon.sprites.other['official-artwork'].front_default || pokemon.sprites.front_default"
        [alt]="pokemon.name"
        class="pokemon-image">
      </ion-img>

      <ion-chip *ngFor="let type of pokemon.types" [color]="type.type.name">
        {{ type.type.name | titlecase }}
      </ion-chip>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label>Estatísticas</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let stat of pokemon.stats">
        <ion-label>{{ stat.stat.name | titlecase }}</ion-label>
        <ion-progress-bar
          [value]="getStatPercentage(stat.base_stat)"
          [color]="stat.base_stat > 50 ? 'success' : 'warning'">
        </ion-progress-bar>
        <ion-note slot="end">{{ stat.base_stat }}</ion-note>
      </ion-item>

      <ion-list-header>
        <ion-label>Habilidades</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let ability of pokemon.abilities">
        <ion-label>{{ ability.ability.name | titlecase }}</ion-label>
        <ion-note slot="end" *ngIf="ability.is_hidden">(Hidden)</ion-note>
      </ion-item>

      <ion-list-header>
        <ion-label>Informações da Espécie</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Taxa de Captura</ion-label>
        <ion-note slot="end">{{ pokemon.species.capture_rate }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Cor</ion-label>
        <ion-note slot="end">{{ pokemon.species.color.name | titlecase }}</ion-note>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <div class="ion-padding ion-text-center">
      <ion-spinner *ngIf="!error"></ion-spinner>
      <ion-text color="danger" *ngIf="error">
        <p>Erro ao carregar Pokémon</p>
      </ion-text>
    </div>
  </ng-template>
</ion-content>
